<ion-view title="Character Builder" id="page4" hide-back-button="true">

	<ion-nav-buttons side="left">
		<home-button></home-button>
	</ion-nav-buttons>

    <ion-content padding="true" class="has-header">
        <h2 id="characterBuilder-heading9" style="color:#000000;">Character Name</h2>
        <div>
            <img src="img/whiterabbit.png" width="50%" height="auto" style="display:block;">
        </div>
        <h4 id="characterBuilder-heading10" style="color:#000000;">Goal</h4>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="What does he want to achieve">
            </label>
        </form>
    </ion-content>
</ion-view>