<ion-view title="One Sentence Description Builder" id="page7">
    <ion-content padding="true" class="has-header">
        <h5 id="oneSentenceDescriptionBuilder-heading8" style="color:#000000;">An adjective describing your main character:</h5>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="eg. Optimistic">
            </label>
            <label class="item item-select">
                <span class="input-label">Word Bank</span>
                <select>
                    <option></option>
                    <option>Optimistic</option>
                    <option>Pessimistic</option>
                </select>
            </label>
        </form>
    </ion-content>
</ion-view>